<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Add New Blog </title>
   

</head>
<body>
 
    <%- include('./partials/nav') %> 

    <h1>heelo this is blog</h1>
    
    <%- include('./partials/script') %>
</body>
</html>